@font-face {
   font-family: 'FontsFree-Net-TecheadFree-Light';
   font-display: swap;
   src: url('file:///C:/Users/Akinshola/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-21_115226/fonts/FontsFree-Net-TecheadFree-Light/font.ttf');
}
